<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>プラン解約確認</title>   
    </head>
    <body>
        <div class="samuraitabelog-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitabelog-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/user}">会員情報</a></li>                                    
                                    <li class="breadcrumb-item active" aria-current="page">プラン解約</li>
                                </ol>
                            </nav>
            
                            <h1 class="mb-4 text-center">プラン解約</h1>
                            <div class="container d-flex justify-content-center">     
								<div class="card confirm-card">
									<div class="card-body confirm-card-body mt-3"> 
										<p class="text-center fw-bold">プラン名　　　ベーシックプラン　　月額300円(税別)</p> 
										<p class="text-center">解約すると、以下の機能が使えなくなります。</p>
											<div class="d-flex justify-content-center">
												<ul>
													<li>お店を予約する</li>
													<li>お店のレビューを書く</li>
													<li>お店をお気に入り登録する</li>
												</ul>
											</div>
										<p class="text-center">本当にプランを解約しますか？</p> 
										<p class="text-center">（解約する場合は、請求マイページからサブスクリプションのキャンセルを行ってください）</p> 
										<div class="d-flex justify-content-center gap-4 mt-4">
											<a class="btn shadow-sm confirm-card-btn samuraitabelog-cancel-btn" th:href="@{/user}">キャンセル</a> 
											<a class="btn text-white shadow-sm btn-w160 samuraitabelog-btn" th:href="@{/subscribe/customer}">請求マイページへ</a>  
										</div>
									</div>
								</div> 
                            </div>     
							                            
                        </div>
                    </div>
                </div>  
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
        <script src="https://js.stripe.com/v3"></script>
        <script th:inline="javascript">
			const sessionId = /*[[${sessionId}]]*/"sessionId";  
		</script>	
		<script th:src="@{/js/stripe.js}"></script>
  </body>
</html>